.calculator_divs {

    display: flex;
    justify-content: space-evenly;
    margin: 40px 0
}


.calculator_board {


    display: flex;
    flex-flow: column;
    align-items: center;
}


.holidays_img {

    display: flex;
    justify-content: center;

}

.holidays_img img {
    display: block;
    height: auto;
    width: 400px;
}


.heading__h2--calculator {

    text-align: center;
} 


.price {

    color: red;
}

.price_comment{

    padding-top: 10px;
    font-weight: bold;

}

/* suwak */

.slidecontainer {
    width: 100%;
    padding-bottom: 40px;

}

.calculator {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}

.range_div{

    height: 30px;
    display: flex;
    align-items: center;
    position: relative;

}

.slider {
    width: 100%;
    -webkit-appearance: none;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 4px;
    position: absolute;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #8BC34A;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #8BC34A;
    cursor: pointer;
}

.title_range {

    padding-bottom: 20px;
}


@media all and (max-width: 870px){

    .calculator_divs{

        flex-flow: column;
        align-items: center;

    }

    .calculator{

        margin: 40px 10px 0;
    }


    .holidays_img img {
        display: block;
        height: auto;
        width: 320px;
    }

}