footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:0;
    margin:0;
}
.cookies{
    display: none;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    min-height: 8vh;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-flow: wrap;
}
.cookies__span{
    display: flex;
    padding: .5rem 1rem;
}
#cookies__accept{
    margin: 0 1rem;
}
#cookies__accept:hover{
    cursor: pointer;
    transition: background 0.3s ease-out;
    background-color: #2196F3;
}