footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:0;
    margin:0;
}
.cookies{
    display: none;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    min-height: 8vh;
    z-index: 1;
    justify-content: space-around;
    text-align: center;
    flex-flow: wrap;
}
.cookies__span{
    display: flex;
    margin: .8rem 2rem;
    align-items: center;

}
#cookies__accept{
    justify-content: center;
    text-align: center;   
    font-size: .9rem;
    width: 110px;
    height: 30px;
}
#cookies__accept:hover{
    cursor: pointer;
    transition: background 0.3s ease-out;
    background-color: #2196F3;
}