footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:0;
    margin:0;
}
#cookies{
    display: none;
    position: fixed;
    bottom:0;
    padding: 1rem;
    background: #fff;
    width: 100%;
    min-height: 8vh;
    text-align: center;
    z-index: 1;
    justify-content: center;
    flex-flow: wrap;
}
.cookies__span{
    display: flex;
    margin-right: 1rem;
}
#cookies__accept:hover{
    cursor: pointer;
    transition: background 0.8s ease-out;
    border-bottom: 1px solid black;
}