//button
.btn
  max-width: 240px
  width: 180px
  height: 60px
  padding: 1rem 2rem
  margin: 1rem 2rem
  color: #fff
  border-radius: 1rem
  &-hero
    border: 3px solid $divider-color
    background-color: $primary-color-dark
    &:hover
      border-color: $divider-color
      background-color: $primary-color