.footer
  display: flex
  margin: 0 auto
  background: $primary-color
.card
  display: flex
  background-color: $primary-color-dark
  border-right: 1px solid $divider-color
  color: $primary-color-text
  &:hover .card__img-item
    transition: filter .2s ease-in-out
    filter: grayscale(0%)
  &__img-item
    display: block
    border-radius: 5rem
    filter: grayscale(80%)
    will-change: transition
  &__info
    &-container
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 100%
    &-item
      padding: 0 0 .5rem
      align-self: flex-end
      text-decoration: none
      color: $primary-color-text
      cursor: pointer
    //vertical-align: text-top
    &:visited
      color: #fff
    &-name
      align-self: flex-end
      border-bottom: 3px solid $primary-color-light
      text-align: right
    &-links
      align-self: flex-end
    &__link
      &-icon > i
        font-size: 1.5rem
  &-item


@media all and (min-width: 1366px)
  .footer


  .card
    //min-width: 126px
    &__img
      &-container
        padding: 1rem
      &-item
        max-width: 100%
    &__info
      &-item
        align-self: flex-start
      //  this align self is being overwritten by following class
      &-name
        font-size: 1.5rem
        padding: 1rem 1rem 0 0
      //  following - links is a container for &__link-icon and -item
      &-links
        padding-right: 1rem
    &__link
      &-item
        align-self: flex-end
        text-decoration: none
        color: $primary-color-text
        cursor: pointer
        //vertical-align: text-top
        &:visited
          color: #fff
@media all and  (min-width: 768px) and (max-width: 1365px)

//&-michal
//&-martyna
//&-rafal

//card width may be changed to display 4 next to each othe

  //min-height: 30vh
