.footer__wrapper
  display: flex
  margin: 0 auto
  background: $primary-color
.card
  display: flex
  background-color: $primary-color-dark
  border-right: 1px solid $divider-color
  border-top: 1px solid #fff
  color: $primary-color-text
  justify-content: center
  width: 100%
  &:hover .card__img-item
    transition: filter .2s ease-in-out
    filter: grayscale(0%)
  &__img
    &-container
      padding: 1rem
    &-item
      display: block
      border-radius: 5rem
      filter: grayscale(80%)
      will-change: transition
      max-width: 75px
      border: 3px solid white
  &__info
    &-container
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-around
      //width: 100%
    //&-item
    //  padding: 0 0 .5rem
    //  align-self: flex-end
    //  text-decoration: none
    //  color: $primary-color-text
    //  cursor: pointer
    //vertical-align: text-top
    &:visited
      color: #fff
    &-name
      align-self: flex-end
      border-bottom: 3px solid $primary-color-light
      text-align: right
      width: 100%
      padding: 0 .5rem .5rem
      text-decoration: none
      color: $primary-color-text
    &-links
      align-self: flex-end
    &__link
      &-icon > i
        font-size: 1.5rem
  &__link
    &-container
      &:last-child
        padding: .5rem .5rem 0 0
    &-item
      text-decoration: none
      color: #fff
      &:visited
        text-decoration: none
        color: #fff


@media all and (min-width: 1366px)
  .card
    //min-width: 126px
    &__img
      &-container
        padding: 1rem
    &__info
      &-name
        font-size: 1.5rem
        padding: 1rem 0
      //  following - links is a container for &__link-icon and -item
      &-links
        padding: 1rem 0
    &__link
      &-item
        align-self: flex-end
        text-decoration: none
        color: $primary-color-text
        &:visited
          color: #fff
@media all and  (max-width: 1000px)
  //and (max-width: 1365px)
  .footer__wrapper
    flex-wrap: wrap
  .card
    width: 50%
    &-aleksander
      border-top: 1px solid $divider-color
    &-rafal
      border-top: 1px solid $divider-color
@media all and (max-width: 550px)
  .card
    width: 100%
    justify-content: center
    &-martyna
      border-top: 1px solid $divider-color
    &__img-container
      padding: 1rem


//&-michal
//&-martyna
//&-rafal

//card width may be changed to display 4 next to each othe

  //min-height: 30vh
