@import variables.sass

.form
    background: $color-primary
    color: $color-secondary
    width: 100%
    height: 100%
    display: flex
    flex-direction: column  
   
.form__head
    font-size: 32px
    padding: 20px 100px
    margin-bottom: 30px

.form__input--input
    padding-bottom: 20px
    font-size: 12px
    background: $color-secondary

.form__accept
    display: flex
    flex-direction: column

.div__btn
    background: $color-primary
    color: $color-secondary
    padding: 50px
    border-radius: 25px