.functions
  //display: flex
  padding: 1rem 2rem
  &__container
    display: flex
    margin: 0 auto
    background: $primary-color
    &-row
      display: flex
      flex-direction: row
  &__icon
    padding: 1rem
    background: $primary-color
.heading__paragraph
  &-container
    color: #fff

