.functions
  &__grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    margin: 1rem 2rem
    grid-gap: 1rem
  &__container
    display: flex
.icon__container
  &--functions
    display: flex
    justify-content: center
    align-items: center
    width: 35px
    max-height: 35px
    padding: 1rem
    margin: 0 1rem
    background-color: $divider-color
    border-radius: 50%
@media all and (max-width: 650px)
  .functions
    &__grid
      grid-template-columns: 1fr
      grid-gap: 2rem