@import "nav_icons.css";
@import "form2.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.btn {
  max-width: 240px;
  width: 140px;
  height: 50px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.btn__container {
  display: flex;
  justify-content: center;
}
.btn__container-hero {
  order: -1;
  margin: 2rem;
}
.btn-hero {
  border: 1px solid #BDBDBD;
  background-color: #1976D2;
}
.btn-hero:hover {
  border-color: #BDBDBD;
  background-color: #2196F3;
}

@media all and (min-width: 1366px) {
  .hero {
    background-image: url("../img/bg-1366x768.png");
  }
}
@media all and (min-width: 500px) and (max-width: 1365px) {
  .hero {
    background-image: url("../img/bg-1024x576.png");
  }
}
.wrapper {
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #cccccc url("../img/bg-1366x768.png") no-repeat center;
  background-size: cover;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 60vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 0 0 3.8rem;
}

.hero__heading {
  font-family: Be Vietnam, sans-serif;
}
.hero__heading-h1 {
  margin-bottom: 2rem;
  padding: 0 0.5rem 0 0;
}

.footer {
  display: flex;
  margin: 0 auto;
  background: #2196F3;
}

.card {
  display: flex;
  background-color: #1976D2;
  border-right: 1px solid #BDBDBD;
  border-top: 1px solid #fff;
  color: #FFFFFF;
  justify-content: space-around;
  width: 100%;
}
.card:hover .card__img-item {
  transition: filter 0.2s ease-in-out;
  filter: grayscale(0%);
}
.card__img-container {
  padding: 0.5rem;
}
.card__img-item {
  display: block;
  border-radius: 5rem;
  filter: grayscale(80%);
  will-change: transition;
  max-width: 100px;
  border: 3px solid white;
}
.card__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card__info-item {
  padding: 0 0 0.5rem;
  align-self: flex-end;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.card__info:visited {
  color: #fff;
}
.card__info-name {
  align-self: flex-end;
  border-bottom: 3px solid #BBDEFB;
  text-align: right;
}
.card__info-links {
  align-self: flex-end;
}
.card__info__link-icon > i {
  font-size: 1.5rem;
}
.card__link-item {
  text-decoration: none;
  color: #fff;
}
.card__link-item:visited {
  text-decoration: none;
  color: #fff;
}

@media all and (min-width: 1366px) {
  .card__img-container {
    padding: 1rem;
  }
  .card__img-item {
    max-width: 100%;
  }
  .card__info-item {
    align-self: flex-start;
  }
  .card__info-name {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 0;
  }
  .card__info-links {
    padding-right: 1rem;
  }
  .card__link-item {
    align-self: flex-end;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
  }
  .card__link-item:visited {
    color: #fff;
  }
}
@media all and (max-width: 1000px) {
  .footer {
    flex-wrap: wrap;
  }

  .card {
    width: 50%;
  }
  .card-aleksander {
    border-top: 1px solid #BDBDBD;
  }
  .card-rafal {
    border-top: 1px solid #BDBDBD;
  }
}
@media all and (max-width: 550px) {
  .card {
    width: 100%;
    justify-content: center;
  }
  .card-martyna {
    border-top: 1px solid #BDBDBD;
  }
  .card__img-container {
    padding: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
