



    .navigation__list{

    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    width:100%;

    }
    
    
    .navigation__point{
    background: black;
    padding: 20px;
    margin: 5px;
    flex: 1 1 0;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px 10px 10px 10px;
    }
    
    
    .navigation__link{
    text-decoration: none;
    color: white;
    }
