.navigation__list {

    display: flex;
    list-style-type: none;
}


.navigation__point {
    background: rgba(1, 1, 1, 0);
    padding: 20px 20px;
    flex: 0 0 auto;
    text-align: center;
}


.navigation__link,
.show_menu {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}


.icons {
    display: flex;
    /*height: 100%;*/
    padding: 6rem 0 0;
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
}

.fig_icon {

    margin: 10px;
    display: flex;
    flex-flow: column;
    margin: 5px 20px;
}

.icon {
    font-size: 80px;
    text-align: center;
}

.caption {

    font-size: 15px;
    text-align: center;
}




@media all and (max-width: 700px) {

    nav {

        background: none;
        padding: 0;
        position: fixed;
        color: white;
    }

    .show_menu {
        display: block;
        padding: 20px 20px 20px 24px;
        text-align: center;
    }

    .logo_plane {
        margin: 5px;
        display: none;
    }


    .navigation__list {

        display: none;
    }

 nav:hover .navigation__link{

color: black;
 }


    nav:hover .navigation__list {

        display: flex;
        flex-flow: column;
        background: #fff;
    }

    .navigation__point:hover {
        background: #BDBDBD;
    }


    .show_menu, .navigation__link {
        color: white;
    }

}


@media all and (min-width: 701px) {

    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(25, 118, 210, 0.02);
        z-index: 2
    }

    .navigation__menu {

        justify-content: flex-start;
    }

    .navigation__point:hover {
        border-bottom: 2px solid #FFFFFF;
    }

    .show_menu {

        display: none;

    }

    .logo_plane {
        align-self: center;
        text-align: center;
        font-size: 50px;
        color: #FFFFFF;
        margin: 5px;
    }


    .navigation__link,
    .show_menu {
        color: #FFFFFF;
        margin-left: 10px;
    }


}