nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    width: 100%;
    background: rgba(25, 118, 210, 0.02);
    z-index: 2
}


.navigation__list {

    display: flex;
    list-style-type: none;
}


.navigation__point {
    background: rgba(1, 1, 1, 0);
    padding: 20px 20px;
    margin-left: 10px;
    flex: 0 0 auto;
    text-align: center;
}


.navigation__link {
    text-decoration: none;
    color: white;
    align-items: center;
    text-transform: uppercase;
}

.navigation__point:hover {
    background: rgba(33, 150, 243, 0.31);
}

.logo_plane {
    align-self: center;
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 5px;
}

.icons {
    display: flex;
    /*height: 100%;*/
    padding: 6rem 0 0;
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
}

.fig_icon {

    margin: 10px;
    display: flex;
    flex-flow: column;
    margin: 5px 20px;
}

.icon {
    font-size: 100px;
}

.caption {
    font-size: 20px;
    text-align: center;
}

.caption {

    font-size: 20px;
}
