.navigation__list {

    display: flex;
    list-style-type: none;
}

.navigation__point {
    background: rgba(1, 1, 1, 0);
    flex: 0 0 auto;
    text-align: center;
    max-height: 60px;
}

.navigation__link,
.show_menu {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__link {
    font-family: Be Vietnam, sans-serif;
    display: block;
    padding: 20px;
    margin: 0;
}

.icons {
    display: flex;
    height: 100%;
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.fig_icon {


    display: flex;
    flex-flow: column;
    margin: 5px 20px;
}

.icon {
    text-align: center;
}

.caption {

    font-size: 15px;
    text-align: center;
}


@media all and (max-width: 700px) {

    .navigation {

        background: none;
        padding: 0;
        position: fixed;
        width: 100vw;
        background-color: white;
    }

    .navigation__point:last-child {

        margin: 0;
    }

    .show_menu {
        display: block;
        padding: 20px;
        text-align: center;
    }


    .logo_container {
        display: none;
    }

    .navigation__list {

        display: none;
    }

    .navigation:hover .navigation__link {

        color: black;
    }

    .navigation:hover .navigation__list {

        display: flex;
        flex-flow: column;
        background: #fff;
    }

    .navigation__point:hover {
        background: #BDBDBD;
    }

    .show_menu,
    .navigation__link {
        color: black;
    }

    .icon {
        font-size: 60px;
    }


    .scrolled {
        transition: background 0.3s ease-out;
    }

    .scrolled a,
    .scrolled .logo_plane {
        color: black;
        transition: color 0.3s ease-out;
    }

    .show_menu {

        text-transform: uppercase;
    }


    .icons {

        margin-top: 60px;


    }


}

@media all and (min-width: 701px) {

    .navigation {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(25, 118, 210, 0.02);
        z-index: 2
    }

    .navigation__menu {

        justify-content: flex-start;
    }

    .navigation__point {
        margin-left: 10px;
        border-bottom: 2px solid transparent;

    }

    .navigation__point:hover {
        border-bottom: 2px solid white;
    }

    .show_menu {

        display: none;
    }

    .logo_text {

        text-transform: uppercase;
    }

    .logo_container {
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-left: 5px;
        height: 58px;
    }

    .logo_text {

        font-size: 20px;
        padding: 7px 0;
        margin-left: 10px;
    }

    .logo_img {

        font-size: 35px;
    }

    .navigation__link,
    .show_menu {
        color: #FFFFFF;
        ;
    }

    .icon {
        font-size: 80px;
    }

    .icons_firstline,
    .icons_nextline {

        display: flex;
    }
}

.scrolled {
    background: white;
    transition: background 0.6s ease-out;
    border-bottom: 1px solid #BDBDBD;
}

.scrolled a,
.scrolled .logo_container {
    color: black;
    transition: color 0.6s ease-out;
}

nav {
    transition: background 0.6s ease-out;
}

nav a,
nav .logo_container {

    transition: background 0.6s ease-out;

}