.list__container {
    display: flex;
    list-style-type: none;
}

.list__item {
    background: rgba(1, 1, 1, 0);
    /*padding: 20px 20px;*/
    flex: 0 0 auto;
    text-align: center;
    max-height: 60px;
}

.nav__link,
.nav__mobile {
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link {
    font-family: Be Vietnam, sans-serif;
    display: block;
    padding: 20px;
    margin: 0;
}

.icons {
    display: flex;
    height: 100%;
    font-size: 50px;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.fig_icon {
    display: flex;
    flex-flow: column;
    margin: 5px 20px;
}

.icon {
    text-align: center;
}

.caption {
    font-size: 15px;
    text-align: center;
}

@media all and (min-width: 701px) {

    .nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        top: 0;
        background: rgba(25, 118, 210, 0.02);
        z-index: 2
    }

    .nav__mobile {
        display: none;
    }

    .logo_container {
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        margin-left: 5px;
        height: 58px;
    }

    .logo_text {
        font-size: 20px;
        padding: 7px 0;
        margin-left: 10px;
        text-transform: uppercase;
    }

    .logo_img {
        font-size: 35px;
    }

    .list__item {
        margin-left: 10px;
        border-bottom: 2px solid transparent;
    }

    .list__item:hover {
        border-bottom: 2px solid white;
    }

    .nav__link,
    .nav__mobile {
        color: #FFFFFF;;
    }

    .icon {
        font-size: 80px;
    }

    .icons_firstline,
    .icons_nextline {

        display: flex;
    }
}

.scrolled {
    background: white;
    transition: background 0.6s ease-out;
    border-bottom: 1px solid #BDBDBD;
}

.scrolled .nav__link,
.scrolled .logo_container {
    color: black;
    transition: color 0.6s ease-out;
}

.nav {
    transition: background 0.6s ease-out;
}

.nav .nav__link, .nav .logo_container {
    transition: background 0.6s ease-out;

}

@media all and (max-width: 700px) {

    .nav {
        position: fixed;
        width: 100vw;
        padding: 0;
        background-color: white;
    }

    .nav__mobile {
        display: block;
        padding: 20px;
        text-align: center;
    }

    .logo_container {
        display: none;
    }

    .list__container {
        display: none;
    }

    .list__item:hover {
        background: #BDBDBD;
    }

    .list__item:last-child {
        margin: 0;
    }

    .list__container--hover {
        display: flex;
        flex-flow: column;
        background: #fff;
    }

    .nav__mobile,
    .nav__link {
        color: black;
    }

    /*styling icons now*/
    .icon {
        font-size: 60px;
    }
}
