* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.board {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #fff;
  background-image: url(./img/landscape.png);
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
  min-width: 500px;
  height: 100px;
  top: calc(50% - 50px);
}

.btn {
  max-width: 240px;
  width: 140px;
  height: 50px;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  background-color: #1976e2;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: normal;
}
.btn__modal {
  margin: 1rem;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #2196f3;
}

.frame {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}
.frame__top, .frame__bottom {
  height: 300px;
  width: 100%;
}
.frame__left, .frame__right {
  width: 300px;
  top: -10vh;
  height: 120vh;
}
.frame__top {
  top: -300px;
}
.frame__bottom {
  bottom: -300px;
}
.frame__left {
  left: -300px;
}
.frame__right {
  right: -300px;
}

.highscore {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  top: -50px;
  right: -100px;
  width: 300px;
  height: 40px;
  z-index: 3;
}

#score {
  position: absolute;
  top: 50px;
  right: -120px;
  font-weight: 700;
  z-index: 4;
}

.countdown__container {
  right: calc(25% + 150px);
  justify-content: center;
  top: -50px;
}

.player {
  position: absolute;
  z-index: 2;
}

#player img {
  width: 20%;
}

.obstacle, .bird, .birdz {
  position: absolute;
  z-index: 1;
}

.modal__gameover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  min-height: 300px;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #BDBDBD;
  z-index: 5;
}
.modal__gameover--container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: grey;
  font-size: 1rem;
  font-weight: bold;
}
.modal__close:hover, .modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}
.modal__playerName {
  min-width: 180px;
  font-size: large;
  padding: 0.25rem;
}
.modal__playerScore {
  margin: 1rem;
  text-align: center;
}

.scoreboard {
  position: relative;
}
.scoreboard__container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  min-height: 300px;
  width: 400px;
  margin: 2rem auto;
  z-index: 3;
}
.scoreboard__item {
  margin: 0.5rem 1rem;
}
.scoreboard__value {
  display: inline-block;
  min-width: 180px;
}
.scoreboard__value:nth-child(2) {
  text-align: right;
}

/*# sourceMappingURL=game.css.map */
