
/* .instBoxPop {
  background-color: rgb(166, 214, 245);
  margin: auto;
  padding: 0 30px;
  border: 1px solid silver;
  width: 600px;
  height: 250px;
  border-radius: 20px;
} */

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color:grey;
  font-size: 20px;
  font-weight: bold;
}

.modal__close:hover,
:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.titleBox {
  padding: 20px 60px;

}