/* design patterns) */
body{
    color:#1976D2;
    color: #FFC107;
}
    
/* fonts for menu and headings:  */
font-family: 'Be Vietnam', sans-serif;

/* fonts for rest  */
font-family: 'Roboto', sans-serif;
